* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
}

a {
  color: black;
}
.navlink {
  padding: 20px;
  font-weight: bold;
  display: inline-block;
}

.active {
  background: #2980b9;
  color: white;
}

.section_title {
  background-color: #2980b9;
  height: 250.4px;
}
